<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:gorm="http://grails.org/schema/gorm" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/lang 
	    http://www.springframework.org/schema/lang/spring-lang-3.1.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>classpath:server.properties</value>
			</array>
		</property>
	</bean>
	
	<bean id="serverConfig" class="com.kingston.mmorpg.game.ServerConfig">
		<property name="serverIp" value="${socket.serverIp}"></property>
		<property name="serverPort" value="${socket.port}"></property>
		<property name="httpPort" value="${http.port}"></property>
	</bean>

	<bean id="mydataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/game_user?zeroDateTimeBehavior=convertToNull&amp;transformedBitIsBoolean=true&amp;autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="mydataSource" />
		</property>
		<property name="packagesToScan" value="com.kingston.mmorpg.game.**.entity"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<!-- 表示自动根据model对象来更新表结构，启动hibernate时会自动检查数据库，如果缺少表，则自动建表；如果表里缺少列，则自动添加列 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="dbAccessor" class="com.kingston.mmorpg.framework.orm.HibernateAccessor">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="dbQuerier" class="com.kingston.mmorpg.framework.orm.HibernateQuerier">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<!-- 注册spring上下文环境 -->
	<bean id="context" class="com.kingston.mmorpg.game.base.SpringContext" />


	<!-- 自动扫描该包下所有组件 -->
	<context:component-scan base-package="com.kingston.mmorpg" />

	<context:component-scan base-package="com.kingston.mmorpg">
		<context:include-filter type="annotation"
			expression="com.kingston.mmorpg.framework.net.socket.annotation.MessageMeta" />
	</context:component-scan>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>